<h1> Is user in house? </h1>

<div class="pure-g">
  <div class="pure-u-1-3"> &nbsp; </div>
  <div class="pure-u-1-3">
    <form  method="get">
      <%= label_tag :month_id %>
      <%= select_tag "month_id", options_from_collection_for_select(Month.all, "id", "month_and_year") %>
      <%= submit_tag("Filtrar") %>
    </form>
  </div>
  <div class="pure-u-1-3"> &nbsp; </div>
</div>

<%= month_calendar do |date| %>
    <%= date %>
    <% if ( Month.give_month_id_by_date( date ) == @selected_month_id )  #If its a valid month on the database %>
        <% @users.count.times do %>
            <p class="text-pill text-pill-<%= @was_at_home[0].was_at_home ? 'ok' : 'fail' %> ">
              <%= @was_at_home[0].user.username  %>
              <% @was_at_home.shift unless !@was_at_home #shift if the array is not nil %>
            </p>
        <% end %>
    <% end %>
<% end %>