<h1>Pending expenditures</h1>

<table class="pure-table">
  <thead>
    <tr>
      <th>Expense type</th>
      <th>Ammount</th>
      <th>Paid by</th>
      <th>Date</th>
      <th>Status</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td><%= expenditure.expense_type.name %></td>
        <td><%= number_to_currency( expenditure.ammount, :precision => 0 ) %></td>
        <td><%= expenditure.user.username %></td>
        <td><%= expenditure.month.month_and_year %></td>
        <td><%= Expenditure.array_statuses[expenditure.status] %></td>
        <td><%= expenditure.comment %></td>
        <td><%= link_to 'Show', expenditure %></td>
        <td><%= link_to 'Edit', edit_expenditure_path(expenditure) %></td>
        <td><%= link_to 'Destroy', expenditure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expenditure', new_expenditure_path %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= bar_chart  Expenditure.array_chart %>
