<div class="pure-g">
  <div class="pure-u-1-4"> &nbsp; </div>
  <div class="pure-u-1-2">
    <h1> Expenses analysis per user for <%= @month_name%> </h1>
  </div>
  <div class="pure-u-1-4"> &nbsp; </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-4">
    <%= render 'expenditures/month_detail_days_at_home_table' %>
  </div>
  <div class="pure-u-3-8">
    <%= render 'expenditures/month_detail_total_expenditures_per_user' %>
  </div>
  <div class="pure-u-3-8">
    <%= render 'expenditures/month_detail_expenses_chart' %>
  </div>
</div>


<div class="pure-g">
  <div class="pure-u-1-2">
    <%= render 'expenditures/month_detail_expense_detail_table' %>
  </div>
  <div class="pure-u-1-2">
    <%= render 'expenditures/month_detail_owed_per_user' %>
  </div>
</div>