<p id="notice"><%= notice %></p>


<p>
  <strong>Paid by:</strong>
  <%= @expenditure.user.username %>
</p>

<p>
  <strong>Expense type:</strong>
  <%= @expenditure.expense_type.name %>
</p>

<p>
  <strong> Date </strong>
  <%= @expenditure.month.month_and_year %>
</p>

<p>
  <strong>Ammount:</strong>
  <%= number_to_currency( @expenditure.ammount, :precision => 0 ) %>
</p>

<p>
  <strong>Status:</strong>
  <%= Expenditure.array_statuses[@expenditure.status] %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @expenditure.comment %>
</p>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
