<!DOCTYPE html>
<html>
<head>
  <title>Expense</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render "layouts/menu" %>

    <div class="main">

      <%= yield %>

      <script>
          (function (window, document) {
              document.getElementById('toggle').addEventListener('click', function (e) {
                  document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
                  document.getElementById('toggle').classList.toggle('x');
              });
          })(this, this.document);
      </script>

    </div>

</body>

</html>
